

@{
    ViewBag.Title = "Portfolio Details";
}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>@ViewBag.Title</h2>
            <ol>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>Portfolio Details</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="~/Content/img/portfolio/portfolio-details-1.jpg" alt="">
                        </div>

                        <div class="swiper-slide">
                            <img src="~/Content/img/portfolio/portfolio-details-2.jpg" alt="">
                        </div>

                        <div class="swiper-slide">
                            <img src="~/Content/img/portfolio/portfolio-details-3.jpg" alt="">
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: C#, Logic and Creativity</li>
                        <!--<li><strong>Client</strong>: </li>-->
                        <li><strong>Project date</strong>: 01 Janurary, 2022</li>
                        <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>C# Text Adventure</h2>
                    <p>
                        This is a Text-Based Adventure game written solely in C#. It was written to obtain practice with various conceps of C#. This will have been the first C# project I had created.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->
