@{ViewBag.Title = "Home";}

<title>@ViewBag.Title</title>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="~/Content/img/classmates/TempProfilePhotoPlaceHolder.jpg" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="index.html">Jason Colobong</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="https://www.twitter.com/iakonacolobong" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://www.facebook.com/jason.colobong" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <!--<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
                    <!--<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
                    <a href="https://www.linkedin.com/in/jason-colobong-4486351b2/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    
                    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a>
                    <!--<li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>-->
                    <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>

                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Jason Colobong</h1>
            <p>I am <span class="typed" data-typed-items="a Full Stack Web Developer, a tried and tested leader, a highly experienced trainer"></span></p>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>About</h2>
                    <p>United States Navy, Kansas Army National Guard, Civilian Policing...I've spent almost twenty-five years as a leader in these fields pursuing a better way to make decisions for the benefit of my people and for my organization. I found that way with the study of data analysis and database management. Since then I have discovered more of the limitless world of Information Technology and all of the wonders it holds. That discovery has lead me to the path I am on now, a Full Stack Web Developer, where the boundaries between work and hobby are blurred because of the enjoyment I find in my new craft.  </p>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="~/Content/img/classmates/TempProfilePhotoPlaceHolder.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>Full Stack Web Developer.</h3>
                        <p class="fst-italic">
                            Creating Webpages, Data Management, Programming, being able to tie it all together. I can bring an employer the skills needed to assist with a project at many stages throughout it's development life cycle.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <!--<li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>10 December 1974</span></li>-->
                                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.developer.jason-colobong.com/</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>(913) 306-2341</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Lee's Summit, MO</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <!--<li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>-->
                                    <li><i class="bi bi-chevron-right"></i> <strong>E-mail:</strong> <span>jason.colobong@outlook.com</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            A graduate of Centriq's Full Stack Wed Developer Program in 2022, the program carried an incredible pace which tested my ability to learn new skills, my desire to succeed, and proved my desire to become a Full Stack Developer was unshakable. I now have hands on knowledge of C#, HTML, CSS, JQuery, Bootstrap, SQl, ADO.NET, JavaScript, JSON and projects added to my portfolio to demonstrate my application of those skills.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
            <div class="container">

                <div class="section-title">
                    <h2>Facts</h2>
                    <p>I have spent a lifetime in the uniformed services helping others and working within a team to achieve a common goal despite obstacles in our paths. I can bring this drive, dedication, team spirit, and pride in work to any work environment I am brought into. I take pride not only in the hard work I put in to achieve goals, but also in helping others to accomplish their own goals.  </p>
                </div>



            </div>
        </section><!-- End Facts Section -->
        <!-- ======= Skills Section ======= -->
        <!--<section id="skills" class="skills section-bg">
          <div class="container">

            <div class="section-title">
              <h2>Skills</h2>
              <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row skills-content">

              <div class="col-lg-6" data-aos="fade-up">

                <div class="progress">
                  <span class="skill">HTML <i class="val">100%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill">CSS <i class="val">90%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill">JavaScript <i class="val">75%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

              </div>

              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                <div class="progress">
                  <span class="skill">PHP <i class="val">80%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill">WordPress/CMS <i class="val">90%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="progress">
                  <span class="skill">Photoshop <i class="val">55%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </section>-->
        <!-- End Skills Section -->
        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p></p>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">Education</h3>



                        <div class="resume-item">
                            <h4>Bachelor of Science | Data Analytics</h4>
                            <h5>2018 - Present</h5>
                            <p><em>Rasmussen University, Overland Park KS</em></p>
                            <p>Pursing a completion of my Bachelor's Degree in Data Analytics through Rasmussen University. Project graduation date of Winter 2022. </p>
                        </div>
                        <div class="resume-item">
                            <h4>Associates of Arts | Information Technology</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>Univeristy of Phoenix</em></p>
                            <p>Currently completing my Associates of Arts with a focus in Information Technology through Phoenix University. Projected graduation date of Spring 2022. </p>
                        </div>
                        <div class="resume-item">
                            <h4>Supervisor Training | FBI-LEEDA</h4>
                            <h5>2021</h5>
                            <p><em>FBI-LEEDA</em></p>
                            <p>Obtained a certification for this course to further develop my ability to understand the concepts of leadership as it applies to generational and cultural differences. This study also further defined best practices for motivation, identifying personality types, and understanding the implications and liability of various methods of discipline. Concepts of (vicarious) Liability through failure to maintain records, inefficient evaluation, and poor supervision practices were also covered.</p>
                        </div>
                        <div class="resume-item">
                            <h4>Command Leadership Training | FBI-LEEDA</h4>
                            <h5>2019</h5>
                            <p><em>FBI-LEEDA</em></p>
                            <p>Achived certifiction for this course which covered aspects of management level concerns including personnel management, asset management, generational differences, cultural differences, liability, long and short term planning and development of projects.  </p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Full Stack Web Developer</h4>
                            <h5>2021 - Present</h5>
                            <p><em>Centriq Kansas City, MO </em></p>
                            <ul>
                                <li>Full time student of Centriq'a accelerated FSWD program.</li>
                                <li>Completed five projects in varying disciplines while in training with Centriq. </li>
                                <li>Began work on a side project to create an efficient and user friendly records management system for police department reporting systems, inventory management, and training tracking utlizing relational database methodologies. </li>
                                <li>Gained proficiency in HTML, CSS, JavaScript, C#, Jquery, Bootstrap, T-SQL, ADO.NET, and MVC.  </li>
                            </ul>
                        </div>

                        <div class="resume-item">
                            <h4>Police Sergeant | Field Training Manager</h4>
                            <h5>2017 - 2021</h5>
                            <p><em>Basehor Police Department, Basehor KS</em></p>
                            <ul>
                                <li>Responsible for training and maintaining records for all Officers hired during my tenure.</li>
                                <li>Member of hiring boards aimed at choosing the best candidate for the city.</li>
                                <li>Implemented pursuit termination technology, training, and policy adherence guidelines which, in the first two years, allowed the department to assist in stopping five felony vehicle pursuits, the apprehension of the felons, and the recovery of several stolen vehicles.  </li>
                                <li>Assisted in the creation of a greener environment through updating aging, paper intense, practices into digitization. </li>
                                <li>Quality assurance of all reports subitted by officers through proofreading for grammatic errors, completion of investigation processes, thoroughness, and proper form completion.  </li>
                                <li>Provided on-site supervision for all calls-for service which carried high liability potential.</li>
                            </ul>
                        </div>

                        <div class="resume-item">
                            <h4>Police Officer | Police K9 Handler</h4>
                            <h5>2010 - 2021</h5>
                            <p><em>Tonganoxie Police Department, Tonganoxie KS</em></p>
                            <ul>
                                <li>Saved an a failing K9 program by taking over as handler, re-structuring training techniques, and creating and nuturing realtions with police departments regionwide saving the department from loosing a $32,000 investment.</li>
                                <li>Aided trainnig of departments region wide by volunteering my time and forming a cross-jurisdictional response practice which brought several agencies to work together each time a K9 service was required.</li>
                                <li>Recieved six seperate awards from exceptional police service, one of which was using my K9 in the recovery of a loaded assault rifle hidden in a residental playground area by a fleeing felon.   </li>
                                <li>Received several letters of appreciation from outside agencies and citizens for my assistance with my K9. </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Portfolio</h2>
                    <h4>Below are links to some projects I have been working on. These projects range from my earliest development pieces to current pieces to those which I am still working on or experimenting with.</h4>
                </div>



                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/Content/img/C-Sharpresize.png" class="img-fluid" alt="C# Text Based Adventure Game">
                            <div class="portfolio-links">
                                <!--<a href="assets/img/portfolio/CAdventure.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungeon Crawler"><i class="bx bx-plus"></i></a>-->
                                <a class="active-link" href="https://github.com/IakonaColobong/DungeonApp" target="_blank" title="C# Adventure - On GitHub"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="~/Content/img/BookStoreFront.jpg" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <!--<a href="assets/img/BooStoreFront.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Store Front"><i class="bx bx-plus"></i></a>-->
                                <a class="active-link" href="http://storefront.jason-colobong.com" target ="_blank# "title="Store Front - External Page"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/Content/img/html5.png" class="img-fluid" alt="Image of HTML5 logo">
                            <div class="portfolio-links">
                                <!--<a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>-->
                                <a href="http://static.jason-colobong.com" title="HTML/CSS Only website" target="_blank"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>   
                    
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="~/Content/img/NET.png" class="img-fluid" alt="Image of HTML5 logo">
                            <div class="portfolio-links">
                                <!--<a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>-->
                                <a href="http://todoapi.jason-colobong.com" title="API with custom controls" target="_blank"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= Services Section =======   UPDATE/ADD WHEN / IF FRELANCING -->
        <!--<section id="services" class="services">



        <!-- End Services Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    <h2> Centriq Full Stack Web Developer Graduates</h2>
                    <h4>Please take some time to review other graduates of Centriq's developer program.</h4>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up">
                                <p>
                                    <img src="~/Content/img/classmates/AndrewAllen.jpg" class="img-fluid" alt="Andrew Allen profile photo">
                                    <a href="~/Content/img/classmates/AndrewAllen.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Andrew Allen"><i class="bx bx-plus"></i></a>
                                    <a href="http://www.double-a-dev.com" target="_blank" title="Andrew Allen - Developer" target="_blank"><i class="bx bx-link" target="_blank"></i></a>

                                </p>
                                <h3>Andrew Allen</h3>
                                <h4>Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                                <p>
                                    <img src="~/Content/img/classmates/AbbeyOutain.jpg" class="img-fluid" alt="Abbey Outain Profile Picture">
                                    <a href="~/Content/img/classmates/AbbeyOutain.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Abbey Outain"><i class="bx bx-plus"></i></a>
                                    <a href="http://www.abbey-outain.com/" target="_blank" title="Abbey Outain - Developer" target="_blank"><i class="bx bx-link"></i></a>
                                </p>
                                <h3>Abbey Outain</h3>
                                <h4>Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                <p>
                                    <img src="~/Content/img/classmates/DonRichardson.jpg" class="img-fluid" alt="Don Richardson profile photo">
                                    <a href="~/Content/img/classmates/DonRichardson.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Don Richardson"><i class="bx bx-plus"></i></a>
                                    <a href="http://www.don-richardson.com" target="_blank" title="Don Richardson - Developer" target="_blank"><i class="bx bx-link"></i></a>
                                </p>
                                <h3>Don Richardson</h3>
                                <h4>Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                <p>
                                    <img src="~/Content/img/classmates/EricFaith.jpg" class="img-fluid" alt="Eric Faith profile photo">
                                    <a href="~/Content/img/classmates/EricFaith.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Eric Faith"><i class="bx bx-plus"></i></a>
                                    <a href="http://www.eric-faith.net" target="_blank" title="Eric Faith - Developer" target="_blank"><i class="bx bx-link"></i></a>
                                </p>
                                <h3>Eric Faith</h3>
                                <h4>Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->
                        <<div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                <p>
                                    <img src="~/Content/img/classmates/JanetLester.jpg" class="img-fluid" alt="Janet Lester profile photo">
                                    <a href="~/Content/img/classmates/JanetLester.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Janet Lester"><i class="bx bx-plus"></i></a>
                                    <a href="http://jlester-dev.net" target="_blank" title="Janet Lester - Developer"><i class="bx bx-link" target="_blank"></i></a>
                                </p>
                                <h3>Janet Lester</h3>
                                <h4>Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                <p>
                                    <img src="~/Content/img/classmates/JoshuaFoley.jpg" class="img-fluid" alt="Joshua Foley profile photo">
                                    <a href="~/Content/img/classmates/JoshuaFoley.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Joshua Foley"><i class="bx bx-plus"></i></a>
                                    <a href="http://www.joshua-foley.com" target="_blank" title="Joshua Foley - Developer" target="_blank"><i class="bx bx-link"></i></a>
                                </p>
                                <h3>Joshua Foley</h3>
                                <h4>Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                <p>
                                    <img src="~/Content/img/classmates/PatrickStephen.jpg" class="img-fluid" alt="Patrick Stephen profile photo">
                                    <a href="~/Content/img/classmates/PatrickStephen.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Patrick Stephen"><i class="bx bx-plus"></i></a>
                                    <a href="http://www.patrick-stephen.com" target="_blank" title="Patrick Stephen  - Developer" target="_blank"><i class="bx bx-link"></i></a>
                                </p>
                                <h3>Patrick Stephen</h3>
                                <h4>Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                <p>
                                    <img src="~/Content/img/classmates/ScottCashion.jpg" class="img-fluid" alt="Scott Cashion profile photo">
                                    <a href="~/Content/img/classmates/ScottCashion.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Scott Cashion"><i class="bx bx-plus"></i></a>
                                    <a href="http://www.scott-cashion.com" target="_blank" title="Scott Cashion - Developer" target="_blank"><i class="bx bx-link"></i></a>
                                </p>
                                <h3>Scott Cashion</h3>
                                <h4>Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>If you have an interest in my skillset, please feel free to reach out to me by any of the options presented on this page. </p>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Lee's Summit MO 64063</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>Jason.Colobong@Outlook.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>(913) 306-2341</p>
                            </div>

                            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>-->
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="~/Content/forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" placeholder="Full Name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" placeholder="E-mail" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" placeholder="Subject of Message" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" placeholder="Enter your message" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
