<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
 <!--domain and extension-->
  <add key="EmailClient" value="mail.jason-colobong.com"/>
  <!--Email user on your host-->
  <add key="EmailUser" value="postmaster@jason-colobong.com"/>
  <!--password for email user on your host-->
  <add key="EmailPass" value="Kanaka01@"/>
  <!--Email address to send entries to-->
  <add key="EmailTo" value="postmaster@jason-colobong.com"/>
  
</appSettings>
